* {
    margin: 0;
    padding: 0;
}

.menu-izquierda {
    background: aqua;
   /*ancho*/ width: 25%;
    /*largo*/height: 2125px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

}
.menu-izquierda img {
    width: 100px;
}
.texto-menu-izquierda {
}